In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import sys, os
sys.path.append(os.path.abspath('..'))

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
from src.feature_engineering import calculate_rfms
from src.clustering import cluster_customers
from src.woe_binning import calculate_woe, apply_woe_binning

INFO:root:Creating the AggregateFeature class
INFO:root:Creating the ExtractFeature class and initialize data

In [6]:
df = pd.read_csv('../data/processed_data.csv')

In [9]:
# Calculate RFMS features
rfms = calculate_rfms(df)

INFO:root:Creating the AggregateFeature class
INFO:root:Creating the ExtractFeature class and initialize data

In [14]:
rfms = cluster_customers(rfms)

In [15]:
# Perform WoE binning
woe_results = apply_woe_binning(rfms, target='Label', features=['Recency', 'Frequency', 'Monetary', 'Stability'])

c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Good': df[target].eq('Good').groupby(bins).sum(),
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Bad': df[target].eq('Bad').groupby(bins).sum()
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Good': df[target].eq('Good').groupby(bins).sum(),
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Bad': df[target].eq('Bad').groupby(bins).sum()
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:9: RuntimeWarning: '<' not supported between instances of 'pandas._libs.interval.Interval' and 'int', sort order is undefined for incomparable objects.
  bin_data = pd.DataFrame({
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Good': df[target].eq('Good').groupby(bins).sum(),
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Bad': df[target].eq('Bad').groupby(bins).sum()
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:9: RuntimeWarning: '<' not supported between instances of 'pandas._libs.interval.Interval' and 'int', sort order is undefined for incomparable objects.
  bin_data = pd.DataFrame({
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Good': df[target].eq('Good').groupby(bins).sum(),
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  'Bad': df[target].eq('Bad').groupby(bins).sum()
c:\Users\Temp\Desktop\KAI-Projects\Credit-score-Modelling\src\woe_binning.py:9: RuntimeWarning: '<' not supported between instances of 'pandas._libs.interval.Interval' and 'int', sort order is undefined for incomparable objects.
  bin_data = pd.DataFrame({

In [16]:
print(rfms.head())
print(woe_results['Recency'])

        CustomerId  Recency  Frequency  Monetary    Stability  Cluster Label
0     CustomerId_1    20116          1     10000     0.000000        0  Good
1    CustomerId_10    20116          1     10000     0.000000        0  Good
2  CustomerId_1001    20116          5     30400  4100.243895        0  Good
3  CustomerId_1002    20116         11      4775   518.805446        0  Good
4  CustomerId_1003    20116          6     32000  3945.461528        0  Good
      Bin  Good  Bad  Total  Good_Pct  Bad_Pct  WoE
0     NaN   NaN  NaN    NaN       NaN      NaN  NaN
1     NaN   NaN  NaN    NaN       NaN      NaN  NaN
2     NaN   NaN  NaN    NaN       NaN      NaN  NaN
3     NaN   NaN  NaN    NaN       NaN      NaN  NaN
4     NaN   NaN  NaN    NaN       NaN      NaN  NaN
...   ...   ...  ...    ...       ...      ...  ...
3737  NaN   NaN  NaN    NaN       NaN      NaN  NaN
3738  NaN   NaN  NaN    NaN       NaN      NaN  NaN
3739  NaN   NaN  NaN    NaN       NaN      NaN  NaN
3740  NaN   NaN  NaN    NaN       NaN      NaN  NaN
3741  NaN   NaN  NaN    NaN       NaN      NaN  NaN

[3742 rows x 7 columns]

,TransactionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,Standard-Deviation-of-Transaction-Amounts,Transaction-Count,Average-Transaction-Amount,Total-Transaction-Amount,Transaction-Year,Transaction-Month,Transaction-Day,Transaction-Hour,PricingStrategy,FraudResult
0,TransactionId_76871,CustomerId_4406,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2675.218372,119,1713.000000,203847,2018,11,1970-01-01 00:00:00.000000015,2,2,0
1,TransactionId_73770,CustomerId_4406,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2675.218372,119,1713.000000,203847,2018,11,1970-01-01 00:00:00.000000015,2,2,0
2,TransactionId_26203,CustomerId_4683,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,0.000000,2,500.000000,1000,2018,11,1970-01-01 00:00:00.000000015,2,2,0
3,TransactionId_380,CustomerId_988,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,17691.401706,38,7542.710526,286623,2018,11,1970-01-01 00:00:00.000000015,3,2,0
4,TransactionId_28195,CustomerId_988,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,17691.401706,38,7542.710526,286623,2018,11,1970-01-01 00:00:00.000000015,3,2,0