In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import sys, os
sys.path.append(os.path.abspath('..'))

In [3]:
df = pd.read_csv('../data/data.csv')

In [4]:
%load_ext autoreload
%autoreload 2

In [23]:
from src.eda import EdaPlot, EdaAnalysis

In [24]:
eda = EdaAnalysis(df)

In [25]:
eda.get_categorical_distribution()

{'TransactionId': TransactionId
 TransactionId_35670     1
 TransactionId_76871     1
 TransactionId_73770     1
 TransactionId_26203     1
 TransactionId_380       1
                        ..
 TransactionId_98367     1
 TransactionId_64044     1
 TransactionId_119821    1
 TransactionId_94363     1
 TransactionId_93543     1
 Name: count, Length: 95662, dtype: int64,
 'BatchId': BatchId
 BatchId_67019     28
 BatchId_51870     16
 BatchId_113893    14
 BatchId_127204    12
 BatchId_116835    10
                   ..
 BatchId_89142      1
 BatchId_6948       1
 BatchId_19147      1
 BatchId_19987      1
 BatchId_113188     1
 Name: count, Length: 94809, dtype: int64,
 'AccountId': AccountId
 AccountId_4841    30893
 AccountId_4249     4457
 AccountId_4840     1738
 AccountId_3206     1105
 AccountId_318      1070
                   ...
 AccountId_1948        1
 AccountId_1259        1
 AccountId_3778        1
 AccountId_2728        1
 AccountId_1287        1
 Name: count, Length: 3633, dtype: int64,
 'SubscriptionId': SubscriptionId
 SubscriptionId_3829    32630
 SubscriptionId_4429     4457
 SubscriptionId_1372     1105
 SubscriptionId_3087     1070
 SubscriptionId_4346      965
                        ...
 SubscriptionId_4324        1
 SubscriptionId_4605        1
 SubscriptionId_2074        1
 SubscriptionId_2106        1
 SubscriptionId_4318        1
 Name: count, Length: 3627, dtype: int64,
 'CustomerId': CustomerId
 CustomerId_7343    4091
 CustomerId_3634    2085
 CustomerId_647     1869
 CustomerId_1096     784
 CustomerId_4033     778
                    ...
 CustomerId_4625       1
 CustomerId_2489       1
 CustomerId_1356       1
 CustomerId_654        1
 CustomerId_1619       1
 Name: count, Length: 3742, dtype: int64,
 'CurrencyCode': CurrencyCode
 UGX    95662
 Name: count, dtype: int64,
 'ProviderId': ProviderId
 ProviderId_4    38189
 ProviderId_6    34186
 ProviderId_5    14542
 ProviderId_1     5643
 ProviderId_3     3084
 ProviderId_2       18
 Name: count, dtype: int64,
 'ProductId': ProductId
 ProductId_6     32635
 ProductId_3     24344
 ProductId_10    15384
 ProductId_15    11964
 ProductId_1      2885
 ProductId_4      2403
 ProductId_21     1512
 ProductId_11     1377
 ProductId_19      965
 ProductId_14      789
 ProductId_13      296
 ProductId_2       236
 ProductId_20      216
 ProductId_8       197
 ProductId_24      175
 ProductId_22      112
 ProductId_7        86
 ProductId_27       31
 ProductId_5        25
 ProductId_9        17
 ProductId_16       10
 ProductId_12        2
 ProductId_23        1
 Name: count, dtype: int64,
 'ProductCategory': ProductCategory
 financial_services    45405
 airtime               45027
 utility_bill           1920
 data_bundles           1613
 tv                     1279
 ticket                  216
 movies                  175
 transport                25
 other                     2
 Name: count, dtype: int64,
 'ChannelId': ChannelId
 ChannelId_3    56935
 ChannelId_2    37141
 ChannelId_5     1048
 ChannelId_1      538
 Name: count, dtype: int64,
 'TransactionStartTime': TransactionStartTime
 2018-12-24T16:30:13Z    17
 2018-11-15T07:03:26Z     9
 2018-12-07T13:09:44Z     6
 2018-12-24T16:30:12Z     6
 2018-11-15T07:03:27Z     5
                         ..
 2019-02-13T09:27:43Z     1
 2019-02-13T09:27:56Z     1
 2019-02-13T09:28:21Z     1
 2019-02-13T09:28:45Z     1
 2018-11-15T02:19:08Z     1
 Name: count, Length: 94556, dtype: int64}

In [26]:
eda.get_correlation()

                 CountryCode    Amount     Value  PricingStrategy  FraudResult
CountryCode              NaN       NaN       NaN              NaN          NaN
Amount                   NaN  1.000000  0.989692        -0.061931     0.557370
Value                    NaN  0.989692  1.000000        -0.017020     0.566739
PricingStrategy          NaN -0.061931 -0.017020         1.000000    -0.033821
FraudResult              NaN  0.557370  0.566739        -0.033821     1.000000

In [27]:
eda.get_missing_values()

Series([], dtype: int64)